.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ... existing styles ... */

input[type="range"] {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
}

/* Track styles */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 10px;
}

/* Thumb styles */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  background: rgb(36, 53, 59);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-top: -13px;
}

input[type="range"]::-webkit-slider-thumb::before {
  content: '';
  position: absolute;
  width: 20.8px;
  height: 20.8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background: rgb(36, 53, 59);
}

input[type="range"]::-moz-range-thumb::before {
  content: '';
  position: absolute;
  width: 20.8px;
  height: 20.8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px 2px rgba(0, 91, 211, 1);
}

.dark-body input[type="range"]::-webkit-slider-thumb,
.dark-body input[type="range"]::-moz-range-thumb {
  background: #8c9095;
}

/* Track styles for light mode */
.light-body input[type="range"] {
  background: #62666a;
}

.light-body input[type="range"]::-webkit-slider-runnable-track {
  background: #62666a;
}

.light-body input[type="range"]::-moz-range-track {
  background: #62666a;
}

/* Track styles for dark mode */
.dark-body input[type="range"] {
  background: #8c9095;
}

.dark-body input[type="range"]::-webkit-slider-runnable-track {
  background: #8c9095;
}

.dark-body input[type="range"]::-moz-range-track {
  background: #8c9095;
}