.jumbotron_blog {
    background-image: url('../assets/book-bulb.webp');
    background-size: cover;
    min-height: 550px;
    filter: grayscale(100%);
}
.blog_each_card_link {
    text-decoration: none;
}
.blog_each_card_link:focus,
.blog_each_card_link:hover {
    text-decoration: underline !important;
}
.blog_each_card_col {
    margin-top: 30px;
}