.dark-body .logo-span,
.dark-body .slide-nav-logo-span {
    color: white;
}
.dark-body .header-button {
    background: rgba(48, 48, 48);
    border: none;
}
.dark-body .header-button:hover {
    border: 0.2px solid rgba(97, 97, 97, 1);
}
.dark-body .header-search-div,
.dark-body .each-text-input-block-div {
    background: rgba(48, 48, 48);
}
.dark-body .header-search-div:hover,
.dark-body .each-text-input-block-div:hover {
    border: 1px solid rgba(225, 225, 225, 1);
}
.dark-body .header-search-div:focus-within,
.dark-body .each-text-input-block-div:focus-within {
    border: 2px solid rgba(225, 225, 225, 1);
}
.dark-body .header-search-div,
.dark-body .each-text-input-block-div {
    border: 1px solid rgba(97, 97, 97, 1);
}
.dark-body .hero-heading {
    color: white;
}
.dark-body .hero-paragraph {
    color: rgba(161, 161, 170);
}
.dark-body .hero-examples-div {
    background-color: rgba(196, 196, 196, 0.118);
}
.dark-body .header-nav-link,
.dark-body .side-nav-link {
    color: rgb(190, 190, 191);
}
.dark-body .header-nav-link:hover,
.dark-body .active-nav-link {
    color: rgb(215, 215, 215);
}
.dark-body .side-body-div {
    color: #a1a1aa;
}
.dark-body .slide-out-side-nav-div {
    background-color: rgba(26, 26, 26);
}
.dark-body .slide-out-nav-outer-div p,
.dark-body .side-nav-div div p,
.dark-body .introduction-heading,
.dark-body .features-function  {
    color: white;
}
.dark-body code {
    color: rgba(250, 250, 250);
}
.dark-body,
.dark-body .header {
    background-color: rgba(26, 26, 26);
}
.dark-body .home-example-tab-one-item {
    border: 0.2px solid rgba(27, 27, 27, 0.226);
}