@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h3,
  .get-started-ship {
    font-size: 1.75rem;
  }
}
h3,
.get-started-ship {
  font-size: calc(1.3rem + 0.6vw);
}
h5 {
  font-size: 1.25rem;
}